/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2015-11-14 14:06:28
 * @version $Id$
 */
@media print {
  /* line 9, ../sass/print.scss */
  body {
    font-size: 12pt;
  }
  /* line 11, ../sass/print.scss */
  body h1 {
    font-size: 14pt;
  }
  /* line 14, ../sass/print.scss */
  body h2 {
    font-size: 14pt;
    font-weight: bold;
  }

  /* line 19, ../sass/print.scss */
  #avatar {
    display: block;
    margin: 0 auto;
    width: 46pt;
    height: 46pt;
  }

  /* line 25, ../sass/print.scss */
  .print {
    display: inline-block;
  }
}
