/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2015-11-14 14:10:12
 * @version $Id$
 */
@media screen {
  /* line 10, ../sass/screen.scss */
  .nav-layout {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  /* line 17, ../sass/screen.scss */
  .nav-layout ul {
    float: right;
    margin-right: 5px;
  }
  /* line 20, ../sass/screen.scss */
  .nav-layout ul li {
    float: left;
    padding: 5px;
    cursor: pointer;
  }
  /* line 24, ../sass/screen.scss */
  .nav-layout ul li:hover {
    background: #aaa;
  }

  /* line 31, ../sass/screen.scss */
  #con {
    position: relative;
    padding-top: 40px;
  }

  /* line 38, ../sass/screen.scss */
  .layout-full #layout {
    margin: 10px;
  }
  /* line 41, ../sass/screen.scss */
  .layout-full .desc svg {
    display: none;
  }

  /* line 47, ../sass/screen.scss */
  .layout-card {
    background: #eee;
  }
  /* line 49, ../sass/screen.scss */
  .layout-card #layout {
    margin: 40px 5px 0 5px;
  }
  /* line 54, ../sass/screen.scss */
  .layout-card #layout .resume {
    display: none;
  }
  /* line 57, ../sass/screen.scss */
  .layout-card #layout .thumb, .layout-card #layout .desc {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5px;
    padding: 10px;
    width: 300px;
    background: #dcdcdc;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
  }
  /* line 68, ../sass/screen.scss */
  .layout-card #layout .desc_os {
    display: none;
  }
  /* line 73, ../sass/screen.scss */
  .layout-card #layout .desc_link .block div {
    display: inline-block;
  }
  /* line 75, ../sass/screen.scss */
  .layout-card #layout .desc_link .block div a {
    text-decoration: none;
  }
  /* line 81, ../sass/screen.scss */
  .layout-card #layout .link_name {
    display: none;
  }
  /* line 85, ../sass/screen.scss */
  .layout-card #layout #web:hover path {
    fill: #999;
  }
  /* line 90, ../sass/screen.scss */
  .layout-card #layout #github:hover path {
    fill: #999;
  }
  /* line 95, ../sass/screen.scss */
  .layout-card #layout #blog:hover path {
    fill: #ff8800;
  }
  /* line 100, ../sass/screen.scss */
  .layout-card #layout #logdown:hover path {
    fill: #000;
  }
  /* line 105, ../sass/screen.scss */
  .layout-card #layout #linkedin:hover path {
    fill: #0074ae;
  }
  /* line 110, ../sass/screen.scss */
  .layout-card #layout #slideshare:hover path {
    fill: #0063aa;
  }
  /* line 115, ../sass/screen.scss */
  .layout-card #layout #codepen:hover path {
    fill: #999;
  }
  /* line 120, ../sass/screen.scss */
  .layout-card #layout #fb:hover path {
    fill: #334a8c;
  }
}
@media only screen and (min-width: 635px) {
  /* line 130, ../sass/screen.scss */
  .layout-card #layout .width, .layout-card #layout .width_half {
    width: 600px;
  }
  /* line 134, ../sass/screen.scss */
  .layout-card #layout .width_half .column {
    float: left;
    width: 50%;
  }
}
@media screen {
  /* line 185, ../sass/screen.scss */
  .layout-list #layout {
    max-width: 960px;
    margin: 0 auto;
    background: #ddd;
  }
  /* line 186, ../sass/screen.scss */
  .layout-list #layout .resume {
    display: none;
  }
  /* line 193, ../sass/screen.scss */
  .layout-list #layout #avatar img {
    display: block;
    margin: 0 auto;
  }
  /* line 198, ../sass/screen.scss */
  .layout-list #layout .desc {
    margin-top: 10px;
  }
  /* line 201, ../sass/screen.scss */
  .layout-list #layout .desc h2 {
    background: #ccc;
    padding: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  }
  /* line 206, ../sass/screen.scss */
  .layout-list #layout .desc hr {
    display: none;
  }
  /* line 209, ../sass/screen.scss */
  .layout-list #layout .desc .block {
    padding: 10px;
    color: #666;
  }
  /* line 215, ../sass/screen.scss */
  .layout-list #layout .desc svg {
    display: none;
  }
}
