/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-12-05 23:51:51
 * @version $Id$
 */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}

/* line 14, ../sass/style.scss */
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 21, ../sass/style.scss */
body {
  font-size: 18px;
  color: #444;
  line-height: 1.5;
}
/* line 25, ../sass/style.scss */
body h2 {
  font-size: 32px;
  color: #000;
}
/* line 29, ../sass/style.scss */
body a, body p {
  color: #242424;
}

/* line 34, ../sass/style.scss */
.active {
  background: #aaa;
}

/* line 37, ../sass/style.scss */
.link {
  display: none;
}

/* line 40, ../sass/style.scss */
#print {
  margin-left: 5px;
}

/* line 43, ../sass/style.scss */
#print:hover {
  cursor: pointer;
}

@media screen {
  /* line 48, ../sass/style.scss */
  .nav-layout {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  /* line 55, ../sass/style.scss */
  .nav-layout ul {
    float: right;
    margin-right: 5px;
  }
  /* line 58, ../sass/style.scss */
  .nav-layout ul li {
    float: left;
    padding: 5px;
    cursor: pointer;
  }
  /* line 62, ../sass/style.scss */
  .nav-layout ul li:hover {
    background: #aaa;
  }

  /* line 69, ../sass/style.scss */
  #con {
    position: relative;
    padding-top: 40px;
  }

  /* line 76, ../sass/style.scss */
  .layout-full #layout {
    margin: 10px;
  }
  /* line 79, ../sass/style.scss */
  .layout-full .desc svg {
    display: none;
  }

  /* line 85, ../sass/style.scss */
  .layout-card {
    background: #eee;
  }
  /* line 87, ../sass/style.scss */
  .layout-card #layout {
    margin: 40px 5px 0 5px;
  }
  /* line 92, ../sass/style.scss */
  .layout-card #layout .resume {
    display: none;
  }
  /* line 95, ../sass/style.scss */
  .layout-card #layout .thumb, .layout-card #layout .desc {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5px;
    padding: 10px;
    width: 300px;
    background: #dcdcdc;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
  }
  /* line 106, ../sass/style.scss */
  .layout-card #layout .desc_os {
    display: none;
  }
  /* line 110, ../sass/style.scss */
  .layout-card #layout .desc_link div {
    display: inline-block;
  }
  /* line 112, ../sass/style.scss */
  .layout-card #layout .desc_link div a {
    text-decoration: none;
  }
  /* line 117, ../sass/style.scss */
  .layout-card #layout .link_name {
    display: none;
  }
  /* line 121, ../sass/style.scss */
  .layout-card #layout #github:hover path {
    fill: #999;
  }
  /* line 126, ../sass/style.scss */
  .layout-card #layout #blog:hover path {
    fill: #ff8800;
  }
  /* line 131, ../sass/style.scss */
  .layout-card #layout #logdown:hover path {
    fill: #000;
  }
  /* line 136, ../sass/style.scss */
  .layout-card #layout #linkedin:hover path {
    fill: #0074ae;
  }
  /* line 141, ../sass/style.scss */
  .layout-card #layout #slideshare:hover path {
    fill: #0063aa;
  }
  /* line 146, ../sass/style.scss */
  .layout-card #layout #codepen:hover path {
    fill: #999;
  }
  /* line 151, ../sass/style.scss */
  .layout-card #layout #fb:hover path {
    fill: #334a8c;
  }
}
@media only screen and (min-width: 635px) {
  /* line 161, ../sass/style.scss */
  .layout-card #layout .width, .layout-card #layout .width_half {
    width: 600px;
  }
  /* line 165, ../sass/style.scss */
  .layout-card #layout .width_half div {
    float: left;
    width: 50%;
  }
}
@media screen {
  /* line 216, ../sass/style.scss */
  .layout-list #layout {
    max-width: 960px;
    margin: 0 auto;
    background: #ddd;
  }
  /* line 217, ../sass/style.scss */
  .layout-list #layout .resume {
    display: none;
  }
  /* line 224, ../sass/style.scss */
  .layout-list #layout #avatar img {
    display: block;
    margin: 0 auto;
  }
  /* line 229, ../sass/style.scss */
  .layout-list #layout .desc {
    margin-top: 10px;
  }
  /* line 232, ../sass/style.scss */
  .layout-list #layout .desc h2 {
    background: #ccc;
    padding: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  }
  /* line 237, ../sass/style.scss */
  .layout-list #layout .desc hr {
    display: none;
  }
  /* line 240, ../sass/style.scss */
  .layout-list #layout .desc p {
    padding: 10px;
    color: #666;
  }
  /* line 245, ../sass/style.scss */
  .layout-list #layout .desc svg {
    display: none;
  }
}
@media print {
  /* line 253, ../sass/style.scss */
  h1 {
    font-size: 24px;
  }

  /* line 256, ../sass/style.scss */
  p {
    font-size: 14px;
  }

  /* line 260, ../sass/style.scss */
  #avatar img {
    display: block;
    margin: 0 auto;
  }

  /* line 265, ../sass/style.scss */
  .nav-layout {
    display: none;
  }

  /* line 268, ../sass/style.scss */
  .link {
    display: inline-block;
  }

  /* line 271, ../sass/style.scss */
  .print_grid {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  /* line 276, ../sass/style.scss */
  .desc svg {
    display: none;
  }
}
