/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-12-05 23:51:51
 * @version $Id$
 */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}

/* line 18, ../sass/style.scss */
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 25, ../sass/style.scss */
body {
  font-size: 1.25rem;
  color: #444;
  line-height: 1.5;
  font-family: Microsoft JhengHei, Arial, Tahoma, Geneva, sans-serif;
}
/* line 30, ../sass/style.scss */
body h2 {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  background: #ccc;
  padding-left: .5rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}
/* line 38, ../sass/style.scss */
body h3 {
  font-size: 1.25rem;
  padding-left: .5rem;
  font-weight: bold;
  background: rgba(204, 204, 204, 0.6);
}
/* line 44, ../sass/style.scss */
body h4 {
  font-weight: bold;
  background: rgba(204, 204, 204, 0.4);
}
/* line 48, ../sass/style.scss */
body a, body p {
  color: #242424;
}
/* line 51, ../sass/style.scss */
body a {
  transition: color .3s;
}
/* line 54, ../sass/style.scss */
body a:hover {
  color: #ff8800;
}

/* line 58, ../sass/style.scss */
header {
  padding: .5rem;
}

/* line 61, ../sass/style.scss */
#container {
  padding: 1rem;
  max-width: 62rem;
  margin: 0 auto;
}

/* line 66, ../sass/style.scss */
#avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: block;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

/* line 78, ../sass/style.scss */
#avatar:hover {
  transform: rotateY(360deg);
}

@media screen {
  /* line 82, ../sass/style.scss */
  #avatar_container:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: solid 3px #ff8800;
    box-sizing: border-box;
  }

  /* line 95, ../sass/style.scss */
  h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -.6rem;
    width: 15rem;
    border-top: solid 3px #ff8800;
  }
}
/* line 104, ../sass/style.scss */
#avatar_container {
  position: relative;
}

/* line 108, ../sass/style.scss */
h1 {
  position: relative;
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
}

/* line 115, ../sass/style.scss */
nav {
  margin: 1.5rem;
}
/* line 117, ../sass/style.scss */
nav li {
  display: inline-block;
}

/* line 121, ../sass/style.scss */
#container section {
  margin: 1rem .5rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #eee;
}

/* line 127, ../sass/style.scss */
#container section img {
  margin: 0 auto;
}

/* line 130, ../sass/style.scss */
#container section ul {
  line-height: 2;
}

/* line 133, ../sass/style.scss */
#container section ul,
#container section p {
  padding: .5rem;
}

@media only screen and (max-width: 825px) {
  /* line 139, ../sass/style.scss */
  #avatar_container:before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 22%;
    border-left: solid 3px #ff8800;
    box-sizing: border-box;
    transform: rotate(39deg) translate(1.65rem, 0.35rem);
  }

  /* line 151, ../sass/style.scss */
  h1:before {
    content: "";
    position: absolute;
    top: 0;
    left: -.6rem;
    width: 0;
    height: 100%;
    border-left: solid 3px #ff8800;
  }
}
/* line 161, ../sass/style.scss */
.print {
  display: none;
}

/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2015-11-14 14:10:12
 * @version $Id$
 */
@media screen {
  /* line 10, ../sass/screen.scss */
  .nav-layout {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  /* line 17, ../sass/screen.scss */
  .nav-layout ul {
    float: right;
    margin-right: 5px;
  }
  /* line 20, ../sass/screen.scss */
  .nav-layout ul li {
    float: left;
    padding: 5px;
    cursor: pointer;
  }
  /* line 24, ../sass/screen.scss */
  .nav-layout ul li:hover {
    background: #aaa;
  }

  /* line 31, ../sass/screen.scss */
  #con {
    position: relative;
    padding-top: 40px;
  }

  /* line 38, ../sass/screen.scss */
  .layout-full #layout {
    margin: 10px;
  }
  /* line 41, ../sass/screen.scss */
  .layout-full .desc svg {
    display: none;
  }

  /* line 47, ../sass/screen.scss */
  .layout-card {
    background: #eee;
  }
  /* line 49, ../sass/screen.scss */
  .layout-card #layout {
    margin: 40px 5px 0 5px;
  }
  /* line 54, ../sass/screen.scss */
  .layout-card #layout .resume {
    display: none;
  }
  /* line 57, ../sass/screen.scss */
  .layout-card #layout .thumb, .layout-card #layout .desc {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 5px;
    padding: 10px;
    width: 300px;
    background: #dcdcdc;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
  }
  /* line 68, ../sass/screen.scss */
  .layout-card #layout .desc_os {
    display: none;
  }
  /* line 73, ../sass/screen.scss */
  .layout-card #layout .desc_link .block div {
    display: inline-block;
  }
  /* line 75, ../sass/screen.scss */
  .layout-card #layout .desc_link .block div a {
    text-decoration: none;
  }
  /* line 81, ../sass/screen.scss */
  .layout-card #layout .link_name {
    display: none;
  }
  /* line 85, ../sass/screen.scss */
  .layout-card #layout #web:hover path {
    fill: #999;
  }
  /* line 90, ../sass/screen.scss */
  .layout-card #layout #github:hover path {
    fill: #999;
  }
  /* line 95, ../sass/screen.scss */
  .layout-card #layout #blog:hover path {
    fill: #ff8800;
  }
  /* line 100, ../sass/screen.scss */
  .layout-card #layout #logdown:hover path {
    fill: #000;
  }
  /* line 105, ../sass/screen.scss */
  .layout-card #layout #linkedin:hover path {
    fill: #0074ae;
  }
  /* line 110, ../sass/screen.scss */
  .layout-card #layout #slideshare:hover path {
    fill: #0063aa;
  }
  /* line 115, ../sass/screen.scss */
  .layout-card #layout #codepen:hover path {
    fill: #999;
  }
  /* line 120, ../sass/screen.scss */
  .layout-card #layout #fb:hover path {
    fill: #334a8c;
  }
}
@media only screen and (min-width: 635px) {
  /* line 130, ../sass/screen.scss */
  .layout-card #layout .width, .layout-card #layout .width_half {
    width: 600px;
  }
  /* line 134, ../sass/screen.scss */
  .layout-card #layout .width_half .column {
    float: left;
    width: 50%;
  }
}
@media screen {
  /* line 185, ../sass/screen.scss */
  .layout-list #layout {
    max-width: 960px;
    margin: 0 auto;
    background: #ddd;
  }
  /* line 186, ../sass/screen.scss */
  .layout-list #layout .resume {
    display: none;
  }
  /* line 193, ../sass/screen.scss */
  .layout-list #layout #avatar img {
    display: block;
    margin: 0 auto;
  }
  /* line 198, ../sass/screen.scss */
  .layout-list #layout .desc {
    margin-top: 10px;
  }
  /* line 201, ../sass/screen.scss */
  .layout-list #layout .desc h2 {
    background: #ccc;
    padding: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  }
  /* line 206, ../sass/screen.scss */
  .layout-list #layout .desc hr {
    display: none;
  }
  /* line 209, ../sass/screen.scss */
  .layout-list #layout .desc .block {
    padding: 10px;
    color: #666;
  }
  /* line 215, ../sass/screen.scss */
  .layout-list #layout .desc svg {
    display: none;
  }
}
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2015-11-14 14:06:28
 * @version $Id$
 */
@media print {
  /* line 9, ../sass/print.scss */
  body {
    font-size: 12pt;
  }
  /* line 11, ../sass/print.scss */
  body h1 {
    font-size: 14pt;
  }
  /* line 14, ../sass/print.scss */
  body h2 {
    font-size: 14pt;
    font-weight: bold;
  }

  /* line 19, ../sass/print.scss */
  #avatar {
    display: block;
    margin: 0 auto;
    width: 46pt;
    height: 46pt;
  }

  /* line 25, ../sass/print.scss */
  .print {
    display: inline-block;
  }
}
