/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2015-11-14 14:06:28
 * @version $Id$
 */

@media print {
    body {
        font-size: 12pt;
        h1 {
            font-size: 14pt;
        }
        h2 {
            font-size: 14pt;
            font-weight: bold;
        }
    }
    .block {
        // font-size: 12pt;
    }
    // .resume {
    //     display: none;
    // }
    #avatar {
        img {
            display: block;
            margin: 0 auto;
            width: 46pt;
            height: 46pt;
        }
    }
    .nav-layout {
        display: none;
    }
    .link {
        display: inline-block;
    }
    .print_grid {
        width: 32%;
        display: inline-block;
        vertical-align: top;
    }
    .desc svg {
        display: none;
    }
}
