@charset "UTF-8";
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-12-05 23:51:51
 * @version $Id$
 */

@import "compass";
@import "compass/reset";

// @import url("screen.css") screen;
// @import url("print.css") print;

.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

body {
    font-size: 18px;
    color: #444;
    line-height: 1.5;
    font-family: Microsoft JhengHei, Arial, Tahoma, Geneva, sans-serif;
    h2 {
        font-size: 32px;
        color: #000;
    }
    a, p {
        color: #242424;
    }
    p {
        display: inline-block;
    }
}

.active {
    background: #aaa;
}
.link {
    display: none;
}
#print {
    margin-left: 5px;
}
#print:hover {
    cursor: pointer;
}
.discard {
    text-decoration: line-through;
}

@import "screen";
@import "print";
