body {
  background-color: #eaeaea;
}
* {
  line-height: 1.3;
}

a {
  color: gray;
}
a:hover {
  color: #ff8800;
}

h1 {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

h3,
dt {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: .5rem;
  box-sizing: border-box;
}

.print {
  display: none;
}

header {
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
}

#langs {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#langs button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

#langs button:hover {
  cursor: pointer;
  color: #ff8800;
}

#avatar_container {
  position: relative;
}

#avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: block;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

#avatar:hover {
  transform: rotateY(360deg);
}

nav {
  padding: 0 0.5rem;
}

nav li {
  display: inline-block;
  padding: .5rem;
  font-weight: bold;
}

nav li span {
  padding-left: 1rem;
}

.extend_link {
  color: #0088ff;
  margin-left: 1rem;
}

.extend_link::before {
  content: '∞';
  display: inline-block;
  transform: rotate(45deg);
}

@media screen {
  #avatar_container:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: solid 3px #ff8800;
    box-sizing: border-box;
  }
  h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: .4rem;
    width: 15rem;
    border-top: solid 3px #ff8800;
  }
}

@media print {
  #avatar {
      display: block;
      margin: 0 auto;
      width: 46pt;
      height: 46pt;
  }
  nav li {
    display: block;
  }
  .print {
      display: inline-block;
  }
}